

<div class="wrapper">
  <div class="Container">
        <div class="nav">
            <div class="logo">
                RedField
            </div>
            <div class="menu">
                <ul class="navMenu">
                    <li><a >My Offers</a></li>
                    <li><a (click)= 'redirect()' >My Profile</a></li>
                    <li><a (click)='rediracteTo()'>Offers</a></li>
                    <li><a (click)='logout()' >Sign out</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
