

<div class="card-columns" style="margin: auto; margin-top: 30px;" >
    <div class="card" style="width: 80%;" *ngFor='let demand of demands'>
        <div class="card-body">
            <h2 class="card-title"><b>{{demand.title}}</b></h2>
            <p class="card-text">{{demand.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>{{demand.email}}</b></li>
            <li class="list-group-item"><b>{{demand.location}}</b></li>
            <!-- <li class="list-group-item"><b>Vestibulum at eros</b></li> -->
        </ul>
        <div class="card-footer text-muted">
            {{ getdate(demand.createdAt) }}
        </div>
    </div>
  
</div>